@use "sass:math";
@use "../styles/theme" as *;

$bird-prop-below-sep: -2/5;

.header {
  position: relative;
  margin-bottom: 4em;
  padding: 50px 0 70px 0;
  border-bottom: 1px solid $less-black;
  text-align: center;
}

.header .title {
  font-family: "playfair-sc";
  font-weight: bold;
  font-size: 3.17em;
}

.header .navi {
  font-family: "sorts-mill-goudy";
  font-size: 1.26em;
  margin-left: -1.26em;
}

.header .navi a {
  color: $less-black;
  margin-left: 1.26em;
}

.header .bird {
  background-image: url(/images/bird.png);
  width: 90px;
  height: 90px;
  background-size: 100%;
  float: left;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  bottom: $bird-prop-below-sep * 90px;
  background-color: white;
}

.footer {
  font-size: 0.79em;
  border-top: 1px solid $less-black;
  color: $less-black;
  margin-top: 1em;
  padding: 1em 0 1em 0;
  text-align: right;
}

.left {
  float: left;
}

/* --------------------------- RESPONSIVE CONTENT --------------------------- */
@media only screen and (min-width: 0px) and (max-width: 630px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer {
    padding-right: 15px;
  }

  .footer .left {
    float: left;
    padding-left: 15px;
  }

  /* .comments {
    padding: 20px;
  } */

  /* .sidenote {
    display: none;
  }

  .footnotes {
    display: block;
  } */
}

/* ---------------------------- RESPONSIVE BIRD ---------------------------- */

@media only screen and (min-width: 400px) and (max-width: 1200px) {
  .header {
    padding: 35px 0 55px 0;
    margin-bottom: 3em;
  }

  .header .bird {
    width: 65px;
    height: 65px;
    margin-left: -32.5px;
    bottom: $bird-prop-below-sep * 65px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .header {
    padding: 25px 0 45px 0;
    margin-bottom: 2em;
  }

  .header .bird {
    width: 45px;
    height: 45px;
    margin-left: -22.5px;
    bottom: $bird-prop-below-sep * 45px;
  }
}

/* --------------------------- RESPONSIVE HEADER --------------------------- */

@media only screen and (min-width: 430px) and (max-width: 550px) {
  .header .title {
    font-size: $b2;
  }

  .header .navi {
    font-family: "sorts-mill-goudy";
    font-size: 1em;
    margin-left: -1em;
  }

  .header .navi a {
    color: $less-black;
    margin-left: 1em;
  }
}

@media only screen and (min-width: 360px) and (max-width: 430px) {
  .header .title {
    font-size: $a2;
  }

  .header .navi {
    font-family: "sorts-mill-goudy";
    font-size: 1em;
    margin-left: -$c-1;
  }

  .header .navi a {
    color: $less-black;
    margin-left: $c-1;
  }
}

@media only screen and (min-width: 0px) and (max-width: 360px) {
  .header .title {
    font-size: $c1;
  }

  .header .navi {
    font-family: "sorts-mill-goudy";
    font-size: $c-1;
    margin-left: -$b-1;
  }

  .header .navi a {
    color: $less-black;
    margin-left: $b-1;
  }
}
